<!DOCTYPE html>
<html ng-app="app">
<head>
<meta charset="UTF-8">
<title>资料存储</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,minimal-ui"/>
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="yes" name="apple-touch-fullscreen" />
<meta content="telephone=no" name="format-detection" />
<meta content="black" name="apple-mobile-web-app-status-bar-style" />
<link rel="stylesheet" href="/xh/public/weui/css/weui.css">
<link rel="stylesheet" href="/xh/public/weui/css/weui2.css"/>
<link rel="stylesheet" href="/xh/public/weui/css/weui3.css"/>
<script src="/xh/public/widgets/layer.m/layer.m.js"></script>
<script src="/xh/public/widgets/zeptojs/zepto.min.js"></script>
<script src="/xh/public/widgets/angularjs/angular.min.js"></script>
<script src="/xh/public/widgets/angularjs/angular-touch.min.js"></script>
<script src="/xh/public/js/zepto.min.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script>
angular.module('app', ['ngTouch'])
.factory('agentRemote', ['$http', function ($http, appValue) {
	return{
		queryList:function(obj){
			 return $http({
				 method: 'GET',
                 url: '/xh/mobile/Execute/doQueryStoreList'
			 });
		},
		queryByTitle:function(title){
			 return $http({
				 method: 'GET',
                 url: '/xh/mobile/Execute/doQueryStoreByTitle',
                 params:{
                	 title:title
                 }
			 });
		}
	}
}])
.controller('MainController',['$scope','agentRemote','$timeout',function($scope,agentRemote,$timeout){
	$scope.storeList = [];
	$scope.storeShare = function(){
		$('.weui-share').show().addClass('fadeIn');
		wx.onMenuShareTimeline({
		    title: '个人资料', // 分享标题
		    link: 'http://dw201709.com/xh/public/txt/share.docx', // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
		    imgUrl: 'http://dw201709.com/xh/public/images/mobile/excel_alt_1.png', // 分享图标
		    success: function () {
		    	alert(123);
		    // 用户确认分享后执行的回调函数
		},
		cancel: function () {
		    // 用户取消分享后执行的回调函数
		    }
		});
		wx.onMenuShareAppMessage({
			title: '个人资料', // 分享标题
			desc: '分享文件', // 分享描述
			link: 'http://dw201709.com/xh/public/txt/share.docx', // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
			imgUrl: 'http://dw201709.com/xh/public/images/mobile/excel_alt_1.png', // 分享图标
			success: function () {
			// 用户确认分享后执行的回调函数
			},
			cancel: function () {
			// 用户取消分享后执行的回调函数
			}
			});
		wx.onMenuShareQQ({
			title: '个人资料', // 分享标题
			desc: '分享文件', // 分享描述
			link: 'http://dw201709.com/xh/public/txt/share.docx', // 分享链接
			imgUrl: 'http://dw201709.com/xh/public/images/mobile/excel_alt_1.png', // 分享图标
			success: function () {
			// 用户确认分享后执行的回调函数
			},
			cancel: function () {
			// 用户取消分享后执行的回调函数
			}
			});
	}
	
	$scope.initSearch = function(){
		$('.searchbar_wrap').searchBar({
		    cancelText:"取消",
		    searchText:'关键字',
		    onfocus: function (value) {
		        console.log(value);
		        $scope.queryTitle(value);
		    },
		    onblur:function(value) {
		    	  console.log(value);
		    	  $scope.queryTitle(value);
		    },
		    oninput: function(value) {
		    	  console.log(value);
		    	  $scope.queryTitle(value);
		    },
		    onsubmit:function(value){
		    	  console.log(value);
		    	  $scope.queryTitle(value);
		    },
		    oncancel:function(){
		    	  console.log(value);
		    	  $scope.queryTitle(value);
		    },
		    onclear:function(){
		    	  console.log(value);
		    	  $scope.queryTitle(value);
		    }
		});
	}
	$scope.queryTitle = function(title){
		agentRemote.queryByTitle(title).then(function(res){
			 $scope.storeList  = res.data.data.data;
		 })
	}
	$scope.initWX = function(){
		var openId = '${wxUser.wxOpenId}';
		var vnoId = '1';
		var url = window.location.href.split('#')[0];
		var ajaxReturn = $.ajax({url:"/xh/Weixin/getWxSdkInfo", data: {url: url,openId:openId,vnoId:vnoId}});
		ajaxReturn.done(function (data) {
			var appId = data.appId,
		    signature = data.signature,
		    timestamp = data.timestamp,
		    nonce = data.nonce;
			 wx.config({
		         debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
		         appId: appId, // 必填，公众号的唯一标识
		         timestamp: timestamp, // 必填，生成签名的时间戳
		         nonceStr: nonce, // 必填，生成签名的随机串
		         signature: signature,// 必填，签名，见附录1
		         jsApiList: ['checkJsApi',  
				             'onMenuShareTimeline',  
				             'onMenuShareAppMessage',  
				             'onMenuShareQQ',  
				             'onMenuShareWeibo',  
				             'chooseWXPay',
				             'closeWindow'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
		     });
		});
		
	}
	$scope.init = function(){
		agentRemote.queryList().then(function(res){
			console.log(res);
			$scope.storeList  = res.data.data.data;
		});
	}
	$scope.init();
	$scope.initWX();
	setTimeout(function () {
		$scope.initSearch();
    }, 500);
	
}])
</script>
</head>
<body ng-cloak ng-controller="MainController" ontouchstart style="background-color: #f8f8f8;">
<p class="page-hd-desc"></p>
<div class="searchbar_wrap">
</div>
<div class="weui-flex">
	<div class="weui-flex-item" ><div class="placeholder" style="color:black;float:left;background-color: #f8f8f8">文件({{storeList.length}})</div></div>
</div>
 <div class="weui_cells">
        <div class="weui_cell" ng-repeat="store in storeList">
          <div class="weui_cell_bd weui_cell_primary">
              <p>{{store.title}}</p>
          </div>
          <div class="weui_cell_ft">{{store.time}}<i class="icon icon-41" style="padding-left:10px;" ng-click="storeShare()" ></i></div>
      </div>
 </div>
 <div class="weui-share" onclick="$(this).fadeOut();$(this).removeClass('fadeOut')">
<div class="weui-share-box">
点击需要分享的资料后,再点击右上角送给指定朋友或者分享到朋友圈<i></i>
</div>
</div> 
</body>
</html>