<!DOCTYPE html>
<html  ng-app="app">
<head>
<meta charset="UTF-8">
<title>员工注册</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,minimal-ui"/>
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="yes" name="apple-touch-fullscreen" />
<meta content="telephone=no" name="format-detection" />
<meta content="black" name="apple-mobile-web-app-status-bar-style" />
<link rel="stylesheet" href="/xh/public/weui/css/weui.css">
<link rel="stylesheet" href="/xh/public/weui/css/weui2.css"/>
<link rel="stylesheet" href="/xh/public/weui/css/weui3.css"/>
<script src="/xh/public/widgets/layer.m/layer.m.js"></script>
<script src="/xh/public/widgets/zeptojs/zepto.min.js"></script>
<script src="/xh/public/widgets/angularjs/angular.min.js"></script>
<script src="/xh/public/widgets/angularjs/angular-touch.min.js"></script>
<script src="/xh/public/js/zepto.min.js"></script>
<script type="text/javascript">
angular.module('app', ['ngTouch'])
			.factory('agentRemote', ['$http', function ($http, appValue) {
				return{
					valid:function(obj){
						if(obj.name == ""){
							return {flag:false, msg: '姓名不能为空！'};
						}
						if(obj.iphone == ""){
							return {flag:false, msg: '手机号不能为空！'};
						}
					    var lenObj = obj.iphone;
					    if(!(/^1[3|4|5|8][0-9]\d{4,8}$/.test(lenObj))){
					    	return {flag:false, msg: '手机号格式错误！'};
					    }
					    if(obj.userType == ""){
					    	return {flag:false, msg: '员工类型不能为空！'};
					    }
					    if(obj.arer == ""){
					    	return {flag:false, msg: '负责片区不能为空！'};
					    }
					    return {flag: true, msg: '验证通过'};
					},
					save:function(obj){
						return $http({
							method: 'GET',
							url: '/xh/mobile/Execute/saveSign',
							 params:{
								 name:obj.name,
								 iphone:obj.iphone,
								 userType:obj.userType,
								 arer:obj.arer
							 }
						});
					},
					vaildSave:function(obj){
						return $http({
							method: 'GET',
                            url: '/xh/mobile/Execute/doVaildUserInfo'
						});
					}
				}
			}])
			.controller('MainController',['$scope','agentRemote','$timeout',function($scope,agentRemote,$timeout){
				$scope.staffRegister = {
						name :"",
						iphone:"",
						userType:"",
						arer:""
				}
				$scope.submit = function(me){
					agentRemote.vaildSave().then(function(res){
						if (res.data.ret == '-1') {
							layer.open({
	                               content: res.data.desc,
	                               btn: ['知道了']
	                           });
						}else{
							if(!res.data.data){
								layer.open({
	                               content:"您已经注册！",
	                               btn: ['知道了']
	                            });
								return;
							}
							console.log('进入提交')
							var vaildRes = 	agentRemote.valid($scope.staffRegister);
							if(vaildRes.flag){
								agentRemote.save($scope.staffRegister).then(function(res){
									 if (res.data.ret == '-1') {
						    			  layer.open({
				                               content: res.data.desc,
				                               btn: ['知道了']
				                           });
						    		  }else{
						    			  layer.open({
				                               content: '发布成功',
				                               btn: ['确定'],
				                               end: function () {
				                               }
				                           });
						    		  }
								});
							}else{
								layer.open({
			                       content: vaildRes.msg,
			                       btn: ['知道了']
				                   });
							}
						}
					});
				}
			}])
</script>
</head>
<body ng-cloak ng-controller="MainController" ontouchstart style="background-color: #f8f8f8;">
	 <div class="weui_cells weui_cells_form">
	 	<div class="weui_cell">
	         <div class="weui_cell_hd"><label class="weui_label">姓名</label></div>
	         <div class="weui_cell_bd weui_cell_primary">
	             <input class="weui_input" type="text"  placeholder="姓名" ng-model="staffRegister.name"/>
	         </div>
	    </div>
	    <div class="weui_cell">
	         <div class="weui_cell_hd"><label class="weui_label">手机号</label></div>
	         <div class="weui_cell_bd weui_cell_primary">
	             <input class="weui_input" type="number" pattern="[0-9]*"  placeholder="手机号" ng-model="staffRegister.iphone"/>
	         </div>
	    </div>
	    <div class="weui_cell weui_cell_select weui_select_after">
            <div class="weui_cell_hd">
                <label for="" class="weui_label">员工类型</label>
            </div>
            <div class="weui_cell_bd weui_cell_primary">
                <select class="weui_select" name="select2" ng-model="staffRegister.userType">
                    <option value="">--请选择--</option>
                    <option value="0">销售</option>
                    <option value="1">商务</option>
                </select>
            </div>
        </div>
        <div class="weui_cell">
	         <div class="weui_cell_hd"><label class="weui_label">负责片区</label></div>
	         <div class="weui_cell_bd weui_cell_primary">
	             <input class="weui_input" type="text"  placeholder="负责片区" ng-model="staffRegister.arer"/>
	         </div>
	    </div>
	 </div>
	 <div class="weui_cells_tips f-blue"><a href="/xh/mobile/Skip/toRegister">客户注册</a></div>
	 <div class="weui_btn_area">
       <a class="weui_btn weui_btn_primary bg-blue" href="javascript:" id="btn"  ng-click="submit()">注册</a>
    </div>
</body>
</html>