<!DOCTYPE html>
<html  ng-app="app">
<head>
<meta charset="UTF-8">
<title>销售管理</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,minimal-ui"/>
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="yes" name="apple-touch-fullscreen" />
<meta content="telephone=no" name="format-detection" />
<meta content="black" name="apple-mobile-web-app-status-bar-style" />
<link rel="stylesheet" href="/xh/public/weui/css/weui.css">
<link rel="stylesheet" href="/xh/public/weui/css/weui2.css"/>
<link rel="stylesheet" href="/xh/public/weui/css/weui3.css"/>
<link rel="stylesheet" href="/xh/public/mobiscroll/css/mobiscroll.css">
<link rel="stylesheet" href="/xh/public/mobiscroll/css/mobiscroll_date.css">
<script src="/xh/public/js/jquery-1.9.1.min.js"></script>
<script src="/xh/public/widgets/layer.m/layer.m.js"></script>
<script src="/xh/public/widgets/zeptojs/zepto.min.js"></script>
<script src="/xh/public/widgets/angularjs/angular.min.js"></script>
<script src="/xh/public/widgets/angularjs/angular-touch.min.js"></script>
<script src="/xh/public/js/zepto.min.js"></script>
<script src="/xh/public/mobiscroll/js/mobiscroll_date.js" charset="gb2312"></script>
<script src="/xh/public/mobiscroll/js/mobiscroll.js"></script>
<script type="text/javascript">
angular.module('app', ['ngTouch'])
	 .factory('agentRemote', ['$http', function ($http, appValue) {
		 return {
			 valid:function(obj){
			   if(obj.userinfo === ""){
				   return {flag:false, msg: '请选择员工信息'}; 
				}
				if(obj.month === ""){
					 return {flag:false, msg: '请选择月份'};  
			    }
				if(obj.market === ""){
					 return {flag:false, msg: '请输入销售额'}; 
				}
				if(obj.returned === ""){
					 return {flag:false, msg: '请输入回款额'}; 
				}
				if(obj.receivable === ""){
					 return {flag:false, msg: '请输入应收款'}; 
				}
				if(obj.client === ""){
					 return {flag:false, msg: '请输入客户费用'}; 
				}
				if(obj.travel === ""){
					 return {flag:false, msg: '请输入差旅费'}; 
				}
				return {flag: true, msg: '验证通过'};
			 }, 
			 userInfo:function(){
				 return $http({
					 method: 'GET',
					 url:'/xh/mobile/Execute/doQueryWxUserInfo'
				  })
			 },
			 save:function(obj){
				 return $http({
					 method: 'GET',
					 url:'/xh/mobile/Execute/doSaveWxUserInfo',
					 params:{
						 userinfoId:obj.userinfoId,
						 month:obj.month,
						 market:obj.market,
						 returned:obj.returned,
						 receivable:obj.receivable,
						 client:obj.client,
						 travel:obj.travel
					 }
				  })
			 },
			 querySalesByIdAndWorkDate:function(obj){
				  return $http({
					 method: 'GET',
					 url:'/xh/mobile/Execute/doQuerySalesByIdAndMonth',
					 params:{
						 userinfoId:obj.userinfoId,
						 workDate:obj.month
					 }
				  })
			 },
			 modifySales:function(obj,id){
				 return $http({
					 method: 'GET',
					 url:'/xh/mobile/Execute/modifySales',
					 params:{
						 salesId:id,
						 market:obj.market,
						 returned:obj.returned,
						 receivable:obj.receivable,
						 client:obj.client,
						 travel:obj.travel
					 }
				  })
			 }
		 }
	 }])
     .controller('MainController',['$scope','agentRemote','$timeout',function($scope,agentRemote,$timeout){
    	 $scope.sales ={
    			 userinfo:'',
    			 month:'',
    			 market:0,
    			 returned:0,
    			 receivable:0,
    			 client:0,
    			 travel:0,
    			 userinfoId:''
    	 };
    	  $scope.userList = [];
    	  $scope.isModify = false;
    	  $scope.salesId='';
    	  $scope.loadMobiscroll = function(){
    			var currYear = (new Date()).getFullYear();	
    			var opt={};
    			opt.date = {preset : 'date'};
    			opt.datetime = {preset : 'datetime'};
    			opt.time = {preset : 'time'};
    			opt.default = {
    				theme: 'android-ics light', //皮肤样式
    				display: 'modal', //显示方式 
    				mode: 'scroller', //日期选择模式
    				dateFormat: 'yy-mm',
    				lang: 'zh',
    				/* showNow: true,
    				nowText: "今天", */
    				startYear: currYear - 50, //开始年份
    				endYear: currYear + 10, //结束年份
    				 onSelect:function(valueText,inst){
    					 $scope.sales.month = valueText;
    					 setTimeout(function () {
    						 $scope.selectOne();
    					 },500);
    				 }
    			};
    			$("#monthDate").mobiscroll($.extend(opt['date'], opt['default']));
    	  }
    	  $scope.selectOne = function(){
    			  $scope.sales.userinfoId =$scope.sales.userinfo;
    			  console.log($scope.sales.userinfo);
        		  if($scope.sales.userinfoId === "" || $scope.sales.month === ""){
        			  return;
        		  }
        		   $.showLoading();
        		  agentRemote.querySalesByIdAndWorkDate($scope.sales).then(function(res){
        			  $.hideLoading();
        			  if(res.data.data.data.length >0){
        				  $("#market").val(res.data.data.data[0].market);
        				  $("#returned").val(res.data.data.data[0].returned);
        				  $("#receivable").val(res.data.data.data[0].receivable);
        				  $("#client").val(res.data.data.data[0].client);
        				  $("#travel").val(res.data.data.data[0].travel);
        				  $(".select2").find("option[value='number:"+$scope.sales.userinfoId+"'']").attr("selected",true);
        				  $scope.salesId = res.data.data.data[0].salesId;
        				  $scope.sales.market=res.data.data.data[0].market;
        				  $scope.sales.returned=res.data.data.data[0].returned;
        				  $scope.sales.receivable=res.data.data.data[0].receivable;
        				  $scope.sales.client=res.data.data.data[0].client;
        				  $scope.sales.travel=res.data.data.data[0].travel;
            			  $scope.isModify = true;
        			  }else{
        				  $scope.isModify = false;
        				  $("#market").val(0);
        				  $("#returned").val(0);
        				  $("#receivable").val(0);
        				  $("#client").val(0);
        				  $("#travel").val(0);
        				  $scope.sales.market=0;
        				  $scope.sales.returned=0;
        				  $scope.sales.receivable=0;
        				  $scope.sales.client=0;
        				  $scope.sales.travel=0;
        			  }
        		  })
    	  }
    	  $scope.save = function(me){
    		  console.log($scope.sales);
    		  var vaildRes =  agentRemote.valid($scope.sales);
    		  if(vaildRes.flag){
    			  if(!$scope.isModify){
            		  $scope.sales.userinfoId = $scope.sales.userinfo;
            		  console.log($scope.sales);
        			  agentRemote.save($scope.sales).then(function(res){
        				  if (res.data.ret == '-1') {
    							$.toast(res.data.desc, "forbidden");
        				  }else{
        					  $.toast("操作成功");
        					  window.location.href="/xh/mobile/Skip/toSales";
        				  }
        			  });
    			  }else{
    				  
    				  agentRemote.modifySales($scope.sales,$scope.salesId).then(function(res){
    					  $.toast("操作成功");
    					  window.location.href="/xh/mobile/Skip/toSales";
    				  })
    			  }
    		  }else{
    			  $.toast(vaildRes.msg, "forbidden");
    		  }
    	  }
    	  $scope.initUser = function(me){
    		  agentRemote.userInfo().then(function(res){
    			  $scope.userList = res.data.data.data;
    			  console.log($scope.userList);
    		  })
    	  }
    	  $scope.initUser();
    	  $scope.loadMobiscroll();
    	  /* setTimeout(function () {
    		  var date = new Date();
        	  this.year = date.getFullYear();
        	  this.month = date.getMonth() + 1;
        	  this.month = this.month < 10 ? "0" + this.month : this.month;
        	  console.log(this.year+"-"+this.month);
        	  $scope.sales.month = this.year+"-"+this.month;
        	  $("#monthDate").val(this.year+"-"+this.month);
		     }, 1000); */
     }]);
</script>
</head>
<body ng-cloak ng-controller="MainController" ontouchstart style="background-color: #f8f8f8;">
 <div class="weui_cells weui_cells_form">
 	 <div class="weui_cell weui_cell_select weui_select_after">
            <div class="weui_cell_hd">
                <label for="" class="weui_label">员工</label>
            </div>
            <div class="weui_cell_bd weui_cell_primary">
                <select class="weui_select" id="select_userinfo" name="select2" ng-change="selectOne()"  ng-model="sales.userinfo" ng-options=" userinfo.userInfoId as userinfo.userinfoName for userinfo in userList" >
                	  <option value="" style="font-size:20px;">--选择员工--</option>
                </select>
            </div>
        </div>
        <div class="weui_cell">
              <div class="weui_cell_hd"><label for="" class="weui_label">月份</label></div>
              <div id="monthDiv" class="weui_cell_bd weui_cell_primary">
                 <!--  <input class="weui_input" style="width:100%;"  id="monthDate" type="month"   ng-model="sales.month" /> -->
             	 <input type="text" class="weui_input" name="USER_AGE" id="monthDate" readonly placeholder="请填写月份" />
              </div>
         </div>
         <div class="weui_cell">
	         <div class="weui_cell_hd"><label class="weui_label">销售额</label></div>
	         <div class="weui_cell_bd weui_cell_primary">
	             <input class="weui_input" type="number" id="market" pattern="[0-9]*"   placeholder="请填写销售额(单位元)" ng-model="sales.market"/>
	         </div>
	     </div>
	     <div class="weui_cell">
	         <div class="weui_cell_hd"><label class="weui_label">回款额</label></div>
	         <div class="weui_cell_bd weui_cell_primary">
	             <input class="weui_input" type="number" id="returned" pattern="[0-9]*" placeholder="请填写回款额(单位元)" ng-model="sales.returned"/>
	         </div>
	    </div>
	    <div class="weui_cell">
	         <div class="weui_cell_hd"><label class="weui_label">应收款</label></div>
	         <div class="weui_cell_bd weui_cell_primary">
	             <input class="weui_input" type="number" id="receivable" pattern="[0-9]*" placeholder="请填写应收款(单位元)" ng-model="sales.receivable"/>
	         </div>
	    </div>
	    <div class="weui_cell">
	         <div class="weui_cell_hd"><label class="weui_label">客户费用</label></div>
	         <div class="weui_cell_bd weui_cell_primary">
	             <input class="weui_input" type="number" id="client" pattern="[0-9]*"  placeholder="请填写客户费用(单位元)" ng-model="sales.client"/>
	         </div>
	    </div>
	    <div class="weui_cell">
	         <div class="weui_cell_hd"><label class="weui_label">差旅费</label></div>
	         <div class="weui_cell_bd weui_cell_primary">
	             <input class="weui_input" type="number" id="travel" pattern="[0-9]*" placeholder="请填写差旅费(单位元)" ng-model="sales.travel"/>
	         </div>
	    </div>
	    <div class="button_sp_area" style="text-align: right;" >
    	  <a href="javascript:;" class="weui_btn weui_btn_mini  bg-blue" ng-click="save()" >确定</a>
    </div>
 </div>
</body>
</html>