<!DOCTYPE html>
<html ng-app="app">
<head>
<meta charset="UTF-8">
<title>销售管理</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,minimal-ui"/>
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="yes" name="apple-touch-fullscreen" />
<meta content="telephone=no" name="format-detection" />
<meta content="black" name="apple-mobile-web-app-status-bar-style" />
<link rel="stylesheet" href="/xh/public/weui/css/weui.css">
<link rel="stylesheet" href="/xh/public/weui/css/weui2.css"/>
<link rel="stylesheet" href="/xh/public/weui/css/weui3.css"/>
<script src="/xh/public/widgets/layer.m/layer.m.js"></script>
<script src="/xh/public/widgets/zeptojs/zepto.min.js"></script>
<script src="/xh/public/widgets/angularjs/angular.min.js"></script>
<script src="/xh/public/widgets/angularjs/angular-touch.min.js"></script>
<script src="/xh/public/js/zepto.min.js"></script>
<script type="text/javascript">
angular.module('app', ['ngTouch'])
	 .factory('agentRemote', ['$http', function ($http, appValue) {
		 return {
			 salesList:function(width){
				 return $http({
					 method: 'GET',
					 url:'/xh/mobile/Execute/doQuerySalesPage',
					 params:{
						 width:width
					 }
				  })
			 },
			 salesAdminList:function(width){
				 return $http({
					 method: 'GET',
					 url:'/xh/mobile/Execute/doQuerySalesByPage',
					 params:{
						 width:width
					 }
				  })
			 }
		 }
	 }])
     .controller('MainController',['$scope','agentRemote','$timeout',function($scope,agentRemote,$timeout){
    	 $scope.salesList = [];
    	 $scope.salesName =""; 
    	 $scope.isadminOrWs="${isadminorSw}";
    	 $scope.initSales = function(me){
    		 if( $scope.isadminOrWs == 'true'){
    			 agentRemote.salesList($(document).width()).then(function(res){
        			 if(res.data.data.data.length >0){
        				 $scope.salesList  = res.data.data.data;
            			 $scope.salesName = res.data.data.data[0].userName;
            			 
        			 }
        		 })
    		 }else{
    			 agentRemote.salesAdminList($(document).width()).then(function(res){
    				 $scope.salesList = res.data.data;
    				 console.log(res);
    			 })
    		 }
    	 }
    	 $scope.initSales();
     }]);
</script>
</head>
<body ng-cloak ng-controller="MainController" ontouchstart style="background-color: #f8f8f8;">
	<div class="weui-flex">
		<div class="weui-flex-item"><div class="weui_cell">单位(元)</div></div>
		 <div class="weui-flex-item">
			 <div class="weui_cell"  style="padding-left:40%;" >
		 		<a href="/xh/mobile/Skip/toSalesAdd" id="detail" class="weui_btn weui_btn_mini bg-blue" ng-if="isadminOrWs == 'false'">新增</a>
		 	</div>
		 </div>
	</div>
	<div class="weui_cells">
		<div class="weui_cell"  ng-if="salesList.length == 0">
          <div class="weui_cell_bd weui_cell_primary">
              <p>暂无数据</p>
          </div>
      </div>
      <hr>
	</div>
	<!-- <div class="weui-flex" ng-if="isadminOrWs == 'true'">
            <div class="weui-flex-item">
             <div class="weui-weixin-content">
                  	<p>{{salesName}}</p>
             </div>
            <div class="placeholder"  style="text-align:left;color:black;"></div>
            </div>
    </div> -->
    <div class="weui_cell" ng-if="isadminOrWs == 'true'" >
          <div class="weui_cell_bd weui_cell_primary">
              <p >{{salesName}}</p>
          </div>
	 </div>
	<table class="weui-table" style="overflow-x: auto;"  ng-if="isadminOrWs == 'true' && salesList.length != 0">
        <thead >
        <tr><th></th><th ng-repeat="sales in salesList" >{{sales.workDate}}</th></tr>
        </thead>
        <tbody>
        <tr><td>销售额</td><td ng-repeat="sales in salesList"style="color: gray;" >{{sales.market}}</td></tr>
        <tr><td>回款额</td><td ng-repeat="sales in salesList" style="color: gray;">{{sales.returned}}</td></tr>
        <tr><td>应收款</td><td ng-repeat="sales in salesList" style="color: gray;">{{sales.receivable}}</td></tr>
        <tr><td>客户费用</td><td ng-repeat="sales in salesList" style="color: gray;">{{sales.client}}</td></tr>
        <tr><td>差旅费</td><td ng-repeat="sales in salesList" style="color: gray;">{{sales.travel}}</td></tr>
        </tbody>
   </table>
   <hr ng-if="isadminOrWs == 'true' && salesList.length != 0">
   
   
    <div ng-if="isadminOrWs == 'false'" ng-repeat="sales in salesList" >
	     <div class="weui_cell"  >
		          <div class="weui_cell_bd weui_cell_primary">
		              <p>{{sales.username}}</p>
		          </div>
	      </div>
	    <hr ng-if="isadminOrWs == 'false' && salesList.length != 0" >
		<table class="weui-table" style="overflow-x: auto;"  ng-if="isadminOrWs == 'false' && salesList.length != 0"  >
	        <thead >
	        <tr ><th></th><th ng-repeat="sale in sales.saleList" >{{sale.workDate}}</th></tr>
	        </thead>
	        <tbody>
	        <tr><td>销售额</td><td ng-repeat="sale in sales.saleList" style="color: gray;">{{sale.market}}</td></tr>
	        <tr><td>回款额</td><td ng-repeat="sale in sales.saleList" style="color: gray;">{{sale.returned}}</td></tr>
	        <tr><td>应收款</td><td ng-repeat="sale in sales.saleList" style="color: gray;">{{sale.receivable}}</td></tr>
	        <tr><td>客户费用</td><td ng-repeat="sale in sales.saleList" style="color: gray;">{{sale.client}}</td></tr>
	        <tr><td>差旅费</td><td ng-repeat="sale in sales.saleList" style="color: gray;">{{sale.travel}}</td></tr>
	        </tbody>
	   </table>
	   <hr ng-if="isadminOrWs == 'false' && salesList.length != 0" >
    </div>
</body>
</body>
</html>