<!DOCTYPE html>
<html ng-app="app">
<head>
<meta charset="UTF-8">
<title>企业管理</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,minimal-ui"/>
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="yes" name="apple-touch-fullscreen" />
<meta content="telephone=no" name="format-detection" />
<meta content="black" name="apple-mobile-web-app-status-bar-style" />
<link rel="stylesheet" href="/xh/public/weui/css/weui.css">
<link rel="stylesheet" href="/xh/public/weui/css/weui2.css"/>
<link rel="stylesheet" href="/xh/public/weui/css/weui3.css"/>
<link rel="stylesheet" href="/xh/public/gallery/css/baguetteBox.min.css">
<link rel="stylesheet" href="/xh/public/gallery/css/thumbnail-gallery.css">
<script src="/xh/public/widgets/layer.m/layer.m.js"></script>
<script src="/xh/public/widgets/zeptojs/zepto.min.js"></script>
<script src="/xh/public/widgets/angularjs/angular.min.js"></script>
<script src="/xh/public/widgets/angularjs/angular-touch.min.js"></script>
<script src="/xh/public/js/zepto.min.js"></script>
<style type="text/css">
.radiu{
	width: 98px;
	height: 98px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%; 
	background-color:#73CBF5;
 }
</style>
<script type="text/javascript">
angular.module('app', ['ngTouch'])
	 .factory('agentRemote', ['$http', function ($http, appValue) {
		 return {
			 checkingInfo:function(){
				  return $http({
					 method: 'GET',
					 url:'/xh/mobile/Execute/doQueryCheckingLog'
				  })
			  },
			  save:function(checkFlag){
				  return $http({
						 method: 'GET',
						 url:'/xh/mobile/Execute/doChecking',
						 params:{
							 checkFlag:checkFlag
 						 }
					  }) 
			  },
			  saveDuty:function(){
				  return $http({
						 method: 'GET',
						 url:'/xh/mobile/Execute/doCheckingOver'
					  })  
			  }
		 }
	 }])
	 .controller('MainController',['$scope','agentRemote','$timeout',function($scope,agentRemote,$timeout){
		 $scope.checkFlag = "";
		 $scope.workDay = 0;
		 $scope.check = [];
		 //下班打卡
		 $scope.saveDuty = function(){
			 agentRemote.saveDuty().then(function(res){
				 $.toast("操作成功");
				 $scope.initChecking();
			 })
		 }
		 //第一次打卡
		 $scope.save = function(flag){
			 agentRemote.save(flag).then(function(res){
				 $scope.check = res.data.data;
				 $.toast("操作成功");
				 $scope.initChecking();
			 });
		 }
		 //初始化展示打开状态
		 $scope.initChecking = function(me){
			 agentRemote.checkingInfo().then(function(res){
				 $scope.checkFlag = res.data.data.checkFlag;
				 $scope.workDay = res.data.data.workDay;
			 });
		 };
		 $scope.initChecking();
	 }])
</script>
</head>
<body ng-cloak ng-controller="MainController" ontouchstart style="background-color: #f8f8f8;">
<div class="page-bd">
	 <div class="weui-flex">
            <div class="weui-flex-item" style="text-align:center;">
           		<div class="radiu" style="margin-left:35%;background-image: url('${wxUser.headImgUrl}');">
           		</div>
            </div>
             <div class="weui-flex-item">
             	<h4 class='weui_media_title f114' style="margin-left:10%">${userInfo.userinfoName}</h4>
             	<p class="weui_media_title f114" style="margin-left:10%">岗位:${userInfo.userinfoTypeName}</p>
             		<p class="weui_media_title f114" style="margin-left:10%">电话:${userInfo.iphone}</p>
             </div>
     </div>
     <div class="weui-flex">
     	 <div class="weui-flex-item" style="text-align:center;margin-top:-5%;">
             <span class='f-blue' style="padding-left:25%;">本月出勤:{{workDay}}天</span>
         </div>
         <div class="weui-flex-item" style="margin-top:-5%;">
               <a href="javascript:;" class="weui_btn weui_btn_mini bg-blue" style="width:100px;margin-left:10%" ng-if="checkFlag == 'X'"  ng-click="save(checkFlag)" >上班打卡</a>
         	   <a href="javascript:;" class="weui_btn weui_btn_mini bg-blue" style="width:100px;margin-left:10%" ng-if="checkFlag == 'B'" ng-click="saveDuty(check.checkId)">下班打卡</a>
         	    <a href="javascript:;" class="weui_btn weui_btn_mini weui_btn_default weui_btn_disabled" style="width:100px;margin-left:10%" ng-if="checkFlag == 'A'">今日已打卡</a>
         </div>
     </div>
     <div class="weui-flex">
     	<div class="weui-flex-item">
     		<hr>
     	</div>
     </div>
     
     <div class="weui-flex">
            <div class="weui-flex-item" style="margin:5px;">
            <a href="/xh/mobile/Skip/toSales">
	            <div class="placeholder" style="border-radius:10px;width:88%;height:40%;background-color: white;">
	            	<div class="thumbnail" >
	                    <img src="/xh/public/images/mobile/xsgl.png" style="width:35%;height:10%;margin-top:3%;">
	                    <div class="caption" style="padding:0px;text-decoration: none;margin-top:-8%;">
	                    	<p style="color:gray;" ><strong>销售管理</strong></p>
	                    </div>
		             </div>
	            </div>
	            </a>
            </div>
            <div class="weui-flex-item">
             <a href="/xh/mobile/Skip/toSalaryList">
	             <div class="placeholder" style="border-radius:10px;width:90%;height:60%;background-color: white;">
	            	<div class="thumbnail"  >
	                    <img src="/xh/public/images/mobile/xzgl.png" style="width:35%;height:10%;margin-top:3%;">
	                    <div class="caption" style="padding:0px;text-decoration: none;margin-top:-8%;">
	                    	<p  style="color:gray;" ><strong>薪资管理</strong></p>
	                    </div>
		             </div>
	            </div>
	            </a>	
            </div>
     </div>
       <div class="weui-flex">
	       	 <div class="weui-flex-item" style="margin:5px;">
	       	  <a href="/xh/mobile/Skip/toChecking">
		            <div class="placeholder" style="border-radius:10px;width:88%;height:60%;background-color: white;">
		            	<div class="thumbnail"  >
		                    <img src="/xh/public/images/mobile/kqgl.png" style="width:35%;height:10%;margin-top:3%;">
		                    <div class="caption" style="padding:0px;text-decoration: none;margin-top:-8%;">
		                    	<p style="color:gray;" ><strong>考勤管理</strong></p>
		                    </div>
			             </div>
		            </div>
	            </a>
	            </div>
	             <div class="weui-flex-item">
	              <a href="/xh/mobile/Skip/toReportList">
		            <div class="placeholder" style="border-radius:10px;width:90%;height:60%;background-color: white;">
		            	<div class="thumbnail"  >
		                    <img src="/xh/public/images/mobile/bg.png" style="width:35%;height:10%;margin-top:3%;">
		                    <div class="caption" style="padding:0px;text-decoration: none;margin-top:-8%;">
		                    	<p  style="color:gray;" ><strong>述职报告</strong></p>
		                    </div>
			             </div>
		            </div>
		            </a>
	            </div>
       </div>
       <div class="weui-flex">
             <div class="weui-flex-item" style="margin:5px;">
		            <div class="placeholder" style="border-radius:10px;width:88%;height:60%;background-color: white;">
		            	<div class="thumbnail"  >
		                    <img src="/xh/public/images/mobile/luntan.png" style="width:35%;height:10%;margin-top:3%;">
		                    <div class="caption" style="padding:0px;text-decoration: none;margin-top:-8%;">
		                    	<p style="color:gray;"  ><strong>西桓论坛</strong></p>
		                    </div>
			             </div>
		            </div>
	            </div>
	             <div class="weui-flex-item">
		            <div class="placeholder" style="border-radius:10px;width:90%;height:60%;background-color: white;">
		            	<div class="thumbnail"  >
		                    <img src="/xh/public/images/mobile/cuncu.png" style="width:35%;height:10%;margin-top:3%;">
		                    <div class="caption" style="padding:0px;text-decoration: none;margin-top:-8%;">
		                    	<p style="color:gray;"  ><strong>资料存储</strong></p>
		                    </div>
			             </div>
		            </div>
	            </div>
       </div>
</div>
</body>
</html>