<!DOCTYPE html>
<html  ng-app="app">
<head>
<meta charset="UTF-8">
<title>薪资管理</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,minimal-ui"/>
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="yes" name="apple-touch-fullscreen" />
<meta content="telephone=no" name="format-detection" />
<meta content="black" name="apple-mobile-web-app-status-bar-style" />
<link rel="stylesheet" href="/xh/public/weui/css/weui.css">
<link rel="stylesheet" href="/xh/public/weui/css/weui2.css"/>
<link rel="stylesheet" href="/xh/public/weui/css/weui3.css"/>
<script src="/xh/public/widgets/layer.m/layer.m.js"></script>
<script src="/xh/public/widgets/zeptojs/zepto.min.js"></script>
<script src="/xh/public/widgets/angularjs/angular.min.js"></script>
<script src="/xh/public/widgets/angularjs/angular-touch.min.js"></script>
<script src="/xh/public/js/zepto.min.js"></script>
<script type="text/javascript">
angular.module('app', ['ngTouch'])
	 .factory('agentRemote', ['$http', function ($http, appValue) {
		 return {
			 userList:function(userInfoId){
				 return $http({
					 method: 'GET',
					 url:'/xh/mobile/Execute/doQuerySalaryInfo',
					 params:{
						 userInfoId:userInfoId
					 }
				  })
			 },
			 salaryList:function(width){
				 return $http({
					 method: 'GET',
					 url:'/xh/mobile/Execute/doQuerySalaryList',
					 params:{
						 width:width
					 }
				  })
			 }
		 }
	 }])
     .controller('MainController',['$scope','agentRemote','$timeout',function($scope,agentRemote,$timeout){
    	 $scope.userName = '${userinfoName}';
    	 $scope.userInfoId='${userinfoId}';
    	 $scope.isAdmin = '${isAdmin}';
    	 $scope.salaryList = [];
    	 $scope.toSalaryExplain = function(id){
    		 console.log(123);
    		 window.location.href='/xh/mobile/Skip/toSalaryExplain?id='+id;
    	 }
    	 
    	 $scope.init = function(){
    			 agentRemote.userList($scope.userInfoId).then(function(res){
        			 console.log(res.data.data);
        			 $scope.salaryList = res.data.data;
        		 });
    			 /* agentRemote.salaryList($(document).width()).then(function(res){
    				 $scope.salaryList = res.data.data;
    			 }) */
    	 }
    	 $scope.init();
     }]);
</script>
</head>
<body ng-cloak ng-controller="MainController" ontouchstart style="background-color: #f8f8f8;">
<div class="weui-flex">
	     <div class="weui-flex-item"><div class="weui_cell">单位(元)</div></div>
		 <div class="weui-flex-item" style="text-align: right;">
			 <div class="weui_cell"  style="padding-left:40%" >
		 		<a href="/xh/mobile/Skip/toSalaryAdd?userinfoId=${userinfoId}" id="detail" class="weui_btn weui_btn_mini bg-blue" ng-if="isAdmin == 'true'">新增</a>
		 	</div>
		 </div>
</div>
<div class="weui_cell">
       <div class="weui_cell_bd weui_cell_primary">
          <!--  <p >{{userName}}</p> -->
       </div>
</div>
<table class="weui-table" style="overflow-x: auto;"  ng-if="salaryList.length != 0 ">
        <thead >
        <tr><th style="font-weight:bolder;width:100px;">{{userName}}</th><th style="width:95px;" ><p style="width:80%;text-align:right;">{{salaryList[0].month}}</p></th><th style="width:95px;"><p style="width:80%;text-align:right;">{{salaryList[1].month}}</p></th><th style="width:95px;"><p style="width:80%;text-align:right;">{{salaryList[2].month}}</p></th></tr>
        </thead>
        <tbody>
        <tr><td>基本工资</td><td style="color: gray;" ><p style="width:80%;text-align:right;">{{salaryList[0].basicSalary}}</p></td><td style="color: gray;" ><p style="width:80%;text-align:right;">{{salaryList[1].basicSalary}}</p></td><td style="color: gray;" ><p style="width:80%;text-align:right;">{{salaryList[2].basicSalary}}</p></td></tr>
        <tr><td>岗位津贴</td><td style="color: gray;"><p style="width:80%;text-align:right;">{{salaryList[0].subsidy}}</p></td><td style="color: gray;"><p style="width:80%;text-align:right;">{{salaryList[1].subsidy}}</p></td><td style="color: gray;"><p style="width:80%;text-align:right;">{{salaryList[2].subsidy}}</p></td></tr>
        <tr><td>销售奖金</td><td  style="color: gray;"><p style="width:80%;text-align:right;">{{salaryList[0].bonus}}</p></td><td  style="color: gray;"><p style="width:80%;text-align:right;">{{salaryList[1].bonus}}</p></td><td  style="color: gray;"><p style="width:80%;text-align:right;">{{salaryList[2].bonus}}</p></td></tr>
        <tr><td>话费补贴</td><td  style="color: gray;"><p style="width:80%;text-align:right;">{{salaryList[0].telcharge}}</p></td><td  style="color: gray;"><p style="width:80%;text-align:right;">{{salaryList[1].telcharge}}</p></td><td  style="color: gray;"><p style="width:80%;text-align:right;">{{salaryList[2].telcharge}}</p></td></tr>
        <tr><td>考勤浮动</td><td  style="color: gray;"><p style="width:80%;text-align:right;">{{salaryList[0]._float}}</p></td><td  style="color: gray;"><p style="width:80%;text-align:right;">{{salaryList[1]._float}}</p></td><td  style="color: gray;"><p style="width:80%;text-align:right;">{{salaryList[2]._float}}</p></td></tr>
        <tr><td>社会保险</td><td  style="color: gray;"><p style="width:80%;text-align:right;">{{salaryList[0].insurance}}</p></td><td  style="color: gray;"><p style="width:80%;text-align:right;">{{salaryList[1].insurance}}</p></td><td  style="color: gray;"><p style="width:80%;text-align:right;">{{salaryList[2].insurance}}</p></td></tr>
        <tr><td>述职扣款</td><td  style="color: gray;"><p style="width:80%;text-align:right;">{{salaryList[0].reportwithhold}}</p></td><td  style="color: gray;"><p style="width:80%;text-align:right;">{{salaryList[1].reportwithhold}}</p></td><td  style="color: gray;"><p style="width:80%;text-align:right;">{{salaryList[2].reportwithhold}}</p></td></tr>
        <tr><td>其他扣款</td><td  style="color: gray;"><p style="width:80%;text-align:right;">{{salaryList[0].otherdeductions}}</p></td><td  style="color: gray;"><p style="width:80%;text-align:right;">{{salaryList[1].otherdeductions}}</p></td><td  style="color: gray;"><p style="width:80%;text-align:right;">{{salaryList[2].otherdeductions}}</p></td></tr>
        <tr><td>所得税</td><td  style="color: gray;"><p style="width:80%;text-align:right;">{{salaryList[0].incometax}}</p></td><td  style="color: gray;"><p style="width:80%;text-align:right;">{{salaryList[1].incometax}}</p></td><td  style="color: gray;"><p style="width:80%;text-align:right;">{{salaryList[2].incometax}}</p></td></tr>
       	<tr><td>合计</td><td  style="color:blue;" ng-click="toSalaryExplain({{salaryList[0].id}})" ><p style="width:80%;text-align:right;">{{salaryList[0].total}}</p></td><td  style="color:blue;" ng-click="toSalaryExplain({{salaryList[1].id}})" ><p style="width:80%;text-align:right;">{{salaryList[1].total}}</p></td><td  style="color:blue;" ng-click="toSalaryExplain({{salaryList[2].id}})" ><p style="width:80%;text-align:right;">{{salaryList[2].total}}</p></td></tr>
        </tbody>
 </table>
<!--  <hr ng-if="isAdmin == 'false'">
 <div ng-if="isAdmin == 'true'"  ng-repeat="salarys in salaryList" >
 	 <div class="weui_cell"  >
        <div class="weui_cell_bd weui_cell_primary">
            <p>{{salarys.username}}</p>
        </div>
     </div> 
     <hr >
     <table class="weui-table" style="overflow-x: auto;" >
        <thead >
        <tr><th style="font-weight:bolder;">{{salarys.username}}</th><th ng-repeat="salary in salarys.salaryList" ><p style="width:70%;text-align:right;">{{salary.month}}</p></th></tr>
        </thead>
        <tbody>
        <tr><td>基本工资</td><td ng-repeat="salary in salarys.salaryList"style="color: gray;" ><p style="width:70%;text-align:right;">{{salary.basicSalary}}</p></td></tr>
        <tr><td>岗位津贴</td><td ng-repeat="salary in salarys.salaryList" style="color: gray;"><p style="width:70%;text-align:right;">{{salary.subsidy}}</p></td></tr>
        <tr><td>销售奖金</td><td ng-repeat="salary in salarys.salaryList" style="color: gray;"><p style="width:70%;text-align:right;">{{salary.bonus}}</p></td></tr>
        <tr><td>话费补贴</td><td ng-repeat="salary in salarys.salaryList" style="color: gray;"><p style="width:70%;text-align:right;">{{salary.telcharge}}</p></td></tr>
        <tr><td>考勤浮动</td><td ng-repeat="salary in salarys.salaryList" style="color: gray;"><p style="width:70%;text-align:right;">{{salary._float}}</p></td></tr>
        <tr><td>社会保险</td><td ng-repeat="salary in salarys.salaryList" style="color: gray;"><p style="width:70%;text-align:right;">{{salary.insurance}}</p></td></tr>
        <tr><td>述职扣款</td><td ng-repeat="salary in salarys.salaryList" style="color: gray;"><p style="width:70%;text-align:right;">{{salary.reportwithhold}}</p></td></tr>
        <tr><td>其他扣款</td><td ng-repeat="salary in salarys.salaryList" style="color: gray;"><p style="width:70%;text-align:right;">{{salary.otherdeductions}}</p></td></tr>
        <tr><td>所得税</td><td ng-repeat="salary in salarys.salaryList" style="color: gray;"><p style="width:70%;text-align:right;">{{salary.incometax}}</p></td></tr>
       	<tr><td>合计</td><td ng-repeat="salary in salarys.salaryList" style="color:blue;" ng-click="toSalaryExplain({{salary.id}})" ><p style="width:70%;text-align:right;">{{salary.total}}</p></td></tr>
        </tbody>
 </table>
  <hr >
 </div> -->
<div class="weui_cell"  ng-if="salaryList.length == 0">
          <div class="weui_cell_bd weui_cell_primary">
              <p>暂无数据</p>
          </div>
      </div>
</body>
</html>