<!DOCTYPE html>
<html ng-app="app">
<head>
<meta charset="UTF-8">
<title>薪资管理</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,minimal-ui"/>
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="yes" name="apple-touch-fullscreen" />
<meta content="telephone=no" name="format-detection" />
<meta content="black" name="apple-mobile-web-app-status-bar-style" />
<link rel="stylesheet" href="/xh/public/weui/css/weui.css">
<link rel="stylesheet" href="/xh/public/weui/css/weui2.css"/>
<link rel="stylesheet" href="/xh/public/weui/css/weui3.css"/>
<link rel="stylesheet" href="/xh/public/mobiscroll/css/mobiscroll.css">
<link rel="stylesheet" href="/xh/public/mobiscroll/css/mobiscroll_date.css">
<script src="/xh/public/js/jquery-1.9.1.min.js"></script>
<script src="/xh/public/widgets/layer.m/layer.m.js"></script>
<script src="/xh/public/widgets/zeptojs/zepto.min.js"></script>
<script src="/xh/public/widgets/angularjs/angular.min.js"></script>
<script src="/xh/public/widgets/angularjs/angular-touch.min.js"></script>
<script src="/xh/public/js/zepto.min.js"></script>
<script src="/xh/public/mobiscroll/js/mobiscroll_date.js" charset="gb2312"></script>
<script src="/xh/public/mobiscroll/js/mobiscroll.js"></script>
<script type="text/javascript">
angular.module('app', ['ngTouch'])
	 .factory('agentRemote', ['$http', function ($http, appValue) {
		 return {
			 valid:function(obj){
				 if(obj.month ===""){
					 return {flag:false, msg: '请选择月份'};  
			     }
				 if(obj.basicSalary === "" ){
					 return {flag:false, msg: '请填写基本工资'};  
				 }
				 if(obj.subsidy === ""){
					 return {flag:false, msg: '请填写岗位津贴'}; 
				 }
				 if(obj.bonus === ""){
					 return {flag:false, msg: '请填写销售奖金'}; 
				 }
				 if(obj.telcharge ===""){
					 return {flag:false, msg: '请填写话费补贴'}; 
				 }
				 if(obj._float ===""){
					 return {flag:false, msg: '请填写考勤浮动'}; 
				 }
				 if(obj.insurance===""){
					 return {flag:false, msg: '请填写社会保险'}; 
				 }
				 if(obj.reportwithhold === ""){
					 return {flag:false, msg: '请填写述职扣款'}; 
				 }
				 if(obj.otherdeductions === ""){
					 return {flag:false, msg: '请填写其他扣款'}; 
				 }
				 if(obj.incometax ===""){
					 return {flag:false, msg: '请填写所得税'}; 
				 }
				 return {flag: true, msg: '验证通过'};
			 },
			 save:function(obj,total){
				 return $http({
					 method: 'GET',
					 url:'/xh/mobile/Execute/doSaveSalary',
					 params:{
						    userInfoId:obj.userInfoId,
			    			month:obj.month,
			    			basicSalary:obj.basicSalary,
			    			subsidy:obj.subsidy,
			    			bonus:obj.bonus,
			    			telcharge:obj.telcharge,
			    			_float:obj._float,
			    			otherdeductions:obj.otherdeductions,
			    			reportwithhold:obj.reportwithhold,
			    			reportwidthholdContent:obj.reportwidthholdContent,
			    			otherwithholdcontent:obj.otherwithholdcontent,
			    			incometax:obj.incometax,
			    			insurance:obj.insurance,
			    			total:total
					 }
				  })
			 },
			 reportWithHold:function(userInfoId,date){
				 return $http({
					 method: 'GET',
					 url:'/xh/mobile/Execute/reportWidthHold',
					 params:{
						 userInfoId:userInfoId,
						 workDate:date
					 }
				  })
			 },
			 queryIdAndDate:function(userInfoId,month){
				 return $http({
					 method: 'GET',
					 url:'/xh/mobile/Execute/doQuerySalaryByIdAndDate',
					 params:{
						 userInfoId:userInfoId,
						 month:month
					 }
				  })
			 },
			 modifySalary:function(obj,total,id){
				 return $http({
					 method: 'GET',
					 url:'/xh/mobile/Execute/doModifySalary',
					 params:{
						    userInfoId:obj.userInfoId,
			    			month:obj.month,
			    			basicSalary:obj.basicSalary,
			    			subsidy:obj.subsidy,
			    			bonus:obj.bonus,
			    			telcharge:obj.telcharge,
			    			_float:obj._float,
			    			otherdeductions:obj.otherdeductions,
			    			reportwithhold:obj.reportwithhold,
			    			reportwidthholdContent:obj.reportwidthholdContent,
			    			otherwithholdcontent:obj.otherwithholdcontent,
			    			incometax:obj.incometax,
			    			insurance:obj.insurance,
			    			total:total,
			    			salaryId:id
					 }
				  })
			 },
			 userInfo:function(){
				 return $http({
					 method: 'GET',
					 url:'/xh/mobile/Execute/doQueryWxUserInfo'
				  })
			 }
		 }
	 }])
     .controller('MainController',['$scope','agentRemote','$timeout',function($scope,agentRemote,$timeout){
    	 $scope.userName = '${userinfoName}';
    	 $scope.userOpenid='${openid}';
    	 $scope.isChecking = false;
    	 $scope.ismodify = 'false';
    	 $scope.salaryId="";
    	 $scope.allCount = 0;
    	 $scope.allDay = "";
    	 $scope.userList = [];
    	 var date = new Date();
    	 $scope.salary = {
    			userInfoId:'${userinfoId}',
    			month:'',
    			basicSalary:0,
    			subsidy:0,
    			bonus:0,
    			telcharge:0,
    			_float:0,
    			otherdeductions:0,
    			reportwithhold:0,
    			reportwidthholdContent:'',
    			otherwithholdcontent:'',
    			incometax:0,
    			insurance:0,
    			seluserInfoId:''
    			
    	 }
    	 $scope.loadMobiscroll = function(){
 			var currYear = (new Date()).getFullYear();	
 			var opt={};
 			opt.date = {preset : 'date'};
 			opt.datetime = {preset : 'datetime'};
 			opt.time = {preset : 'time'};
 			opt.default = {
 				theme: 'android-ics light', //皮肤样式
 				display: 'modal', //显示方式 
 				mode: 'scroller', //日期选择模式
 				dateFormat: 'yy-mm',
 				lang: 'zh',
 				/* showNow: true,
 				nowText: "今天", */
 				startYear: currYear - 50, //开始年份
 				endYear: currYear + 10, //结束年份
 				 onSelect:function(valueText,inst){
 					 $scope.salary.month = valueText;
 					 setTimeout(function () {
 						 $scope.selectOne();
 						 $scope.initCheck();
 					 },500);
 				 }
 			};
 			$("#monthDate").mobiscroll($.extend(opt['date'], opt['default']));
 	  }
    	 $scope.isback = function(){
   	    	var isback = sessionStorage.getItem('isback');
   	    	if(isback=='true'){
   	    		 $scope.salary.basicSalary = sessionStorage.getItem('basicSalary');
  			     $scope.salary.subsidy = sessionStorage.getItem('subsidy');
  			     $scope.salary.bonus=sessionStorage.getItem('bonus');
  			     $scope.salary.telcharge=sessionStorage.getItem('telcharge');
  			     $scope.salary._float=sessionStorage.getItem('_float');
  			     $scope.salary.otherdeductions=sessionStorage.getItem('otherdeductions');
  			     $scope.salary.reportwithhold=sessionStorage.getItem('reportwithhold');
  			     $scope.salary.reportwidthholdContent=sessionStorage.getItem('reportwidthholdContent');
  			     $scope.salary.otherwithholdcontent=sessionStorage.getItem('otherwithholdcontent');
  			     $scope.salary.incometax=sessionStorage.getItem('incometax');
  			     $scope.salary.insurance=sessionStorage.getItem('insurance');
  			     $scope.ismodify = sessionStorage.getItem('ismodify');
  			     $scope.salaryId =  sessionStorage.getItem('salaryId');
  			     $scope.allCount =  sessionStorage.getItem('allCount');
  			     $("#basicSalary").val($scope.salary.basicSalary);
 	   			 $("#subsidy").val( $scope.salary.subsidy);
 	   			 $("#bonus").val($scope.salary.bonus);
 	   			 $("#telcharge").val( $scope.salary.telcharge);
 	   			 $("#_float").val($scope.salary._float);
 	   			 $("#insurance").val( $scope.salary.insurance);
 	   			 $("#reportwithhold").val($scope.salary.reportwithhold);
 	   			 $("#otherdeductions").val( $scope.salary.otherdeductions);
 			     $("#incometax").val($scope.salary.incometax);
 			     $("#reportwidthholdContent").val($scope.salary.reportwidthholdContent==='null'?"":$scope.salary.reportwidthholdConten);
 			     $("#otherwithholdcontent").val($scope.salary.otherwithholdcontent==='null'?"":$scope.salary.otherwithholdcontent);
 			     sessionStorage.removeItem('isback');
 			     sessionStorage.removeItem('basicSalary');
   	    		 sessionStorage.removeItem('subsidy');
   	    		 sessionStorage.removeItem('bonus');
   	    		 sessionStorage.removeItem('telcharge');
   	    		 sessionStorage.removeItem('_float');
   	    		 sessionStorage.removeItem('insurance');
   	    		 sessionStorage.removeItem('reportwithhold');
   	    		 sessionStorage.removeItem('otherdeductions');
   	    		 sessionStorage.removeItem('incometax');
   	    		 sessionStorage.removeItem('reportwidthholdContent');
   	    		 sessionStorage.removeItem('otherwithholdcontent');
   	    		 sessionStorage.removeItem('ismodify');
   	    		 sessionStorage.removeItem('salaryId');
   	    		 sessionStorage.removeItem('allCount');
   	    	}
   	     }
     	
    	 $scope.salaryChecking = function(){
    		 if("" != $("#monthDate").val()){
    			 $scope.salary.month = $("#monthDate").val()
    		 }
    		 window.location.href="/xh/mobile/Skip/toChecking?userinfoId="+$scope.salary.userInfoId;
    		 sessionStorage.setItem('isback',true);
    		 sessionStorage.setItem('basicSalary',$scope.salary.basicSalary);
    		 sessionStorage.setItem('subsidy',$scope.salary.subsidy);
    		 sessionStorage.setItem('bonus',$scope.salary.bonus);
    		 sessionStorage.setItem('telcharge',$scope.salary.telcharge);
    		 sessionStorage.setItem('_float',$scope.salary._float);
    		 sessionStorage.setItem('insurance',$scope.salary.insurance);
    		 sessionStorage.setItem('reportwithhold',$scope.salary.reportwithhold);
    		 sessionStorage.setItem('otherdeductions',$scope.salary.otherdeductions);
    		 sessionStorage.setItem('incometax',$scope.salary.incometax);
    		 sessionStorage.setItem('reportwidthholdContent', $scope.salary.reportwidthholdContent);
    		 sessionStorage.setItem('otherwithholdcontent',$scope.salary.otherwithholdcontent);
    		 sessionStorage.setItem('ismodify',$scope.ismodify);
    		 sessionStorage.setItem('salaryId',$scope.salaryId);
    		 sessionStorage.setItem('allCount', $scope.allCount);
    	 }
    	 $scope.calculate = function(){
    		 console.log('进入');
    		 $scope.allCount = Number($scope.salary.basicSalary) + Number($scope.salary.subsidy)+
    		 Number($scope.salary.bonus)+Number($scope.salary.telcharge)+Number($scope.salary._float)-
    		 Number($scope.salary.insurance)-Number($scope.salary.reportwithhold)-Number($scope.salary.otherdeductions)-
    		 Number($scope.salary.incometax);
    		 console.log($scope.allCount);
    	 }
    	 $scope.initLastMonth = function(){
             var year = date.getFullYear(); //获取当前日期的年份  
             var month = date.getMonth()+1; //获取当前日期的月份  
             var year2 = year;  
             var month2 = parseInt(month) - 1;  
             if (month2 == 0) {  
                 year2 = parseInt(year2) - 1;  
                 month2 = 12;  
             }  
             if (month2 < 10) {  
                 month2 = '0' + month2;  
             }  
             var t2 = year2 + '-' + month2 ;  
              $scope.salary.month = t2;
              $scope.allDay  = t2;
             $("#monthDate").val(t2);
    	 }
    	 $scope.selectOne = function(){
    		 if($scope.salary.month===""){
    			 return;
    		 }
    		 $.showLoading();
    		 //查询该月份是否有薪资记录
    		 agentRemote.queryIdAndDate($scope.salary.userInfoId,$scope.salary.month).then(function(res){
    			 $.hideLoading();
    			 if(res.data.data != null){
        			 $("#basicSalary").val(res.data.data.basicSalary);
        			 $("#subsidy").val(res.data.data.subsidy)
        			 $("#bonus").val(res.data.data.bonus)
        			 $("#telcharge").val(res.data.data.telcharge)
        			 $("#_float").val(res.data.data._float)
        			 $("#insurance").val(res.data.data.insurance)
        			 $("#reportwithhold").val(res.data.data.reportwithhold)
        			 $("#otherdeductions").val(res.data.data.otherdeductions)
     			     $("#incometax").val(res.data.data.incometax)
     			     $scope.salary.basicSalary = res.data.data.basicSalary;
     			     $scope.salary.subsidy = res.data.data.subsidy;
     			     $scope.salary.bonus=res.data.data.bonus;
     			     $scope.salary.telcharge=res.data.data.telcharge;
     			     $scope.salary._float=res.data.data._float;
     			     $scope.salary.otherdeductions=res.data.data.otherdeductions;
     			     $scope.salary.reportwithhold=res.data.data.reportwithhold;
     			     $scope.salary.reportwidthholdContent=res.data.data.reportwidthholdContent;
     			     $scope.salary.otherwithholdcontent=res.data.data.otherwithholdcontent;
     			     $scope.salary.incometax=res.data.data.incometax;
     			     $scope.salary.insurance=res.data.data.insurance;
     			     $scope.allCount = res.data.data.total;
        			 $scope.salaryId = res.data.data.salaryId;
     			     $scope.ismodify ='true';
    			 }else{
    				 $("#basicSalary").val(0);
        			 $("#subsidy").val(0);
        			 $("#bonus").val(0);
        			 $("#telcharge").val(0);
        			 $("#_float").val(0);
        			 $("#insurance").val(0);
        			 $("#otherdeductions").val(0);
     			     $("#incometax").val(0);
     			     $scope.salary.basicSalary = 0;
    			     $scope.salary.subsidy =0;
    			     $scope.salary.bonus=0;
    			     $scope.salary.telcharge=0;
    			     $scope.salary._float=0;
    			     $scope.salary.otherdeductions=0;
    			     $scope.salary.reportwithhold=0;
    			     $scope.salary.incometax=0;
    			     $scope.salary.insurance=0;
     			     $scope.allCount = 0 ;
     			    $scope.ismodify ='false';
    			 }
    		 })
    	 }
    	 //考勤扣款
    	 $scope.initCheck = function(){
    		 //得到上个月是否写述职报告
    		 agentRemote.reportWithHold($scope.salary.userInfoId, $scope.salary.month).then(function(res){
    			$scope.isChecking = res.data.data;
    			if($scope.isChecking){
    				 $scope.salary.reportwithhold = 200;
    				 $("#reportwithhold").val(200);
    			}
    		 });
    	 }
    	 $scope.save = function(){
    		 if("" != $("#monthDate").val()){
    			 $scope.salary.month = $("#monthDate").val()
    		 }
    		var vaildRes  = agentRemote.valid($scope.salary);
    		  if(vaildRes.flag){
    			  if($scope.ismodify == 'false'){
    				  agentRemote.save($scope.salary,$scope.allCount).then(function(res){
        				  if (res.data.ret == '-1') {
    		    			  $.toast(res.data.desc, "forbidden");
    		    		  }else{
    		    			  $.toast("操作成功");
    		    			  window.location.href='/xh/mobile/Skip/toSalaryInfo?userinfoId=${userinfoId}';
    		    		  }
        			  })
    			  }else{
    				  agentRemote.modifySalary($scope.salary,$scope.allCount,$scope.salaryId).then(function(res){
    					  $.toast("操作成功");
    					  window.location.href='/xh/mobile/Skip/toSalaryInfo?userinfoId=${userinfoId}';
    				  })
    			  }
    			 
    		  }else{
    			  $.toast(vaildRes.msg, "forbidden");
    		  }
    	 }
    	 $scope.initUser = function(me){
   		  agentRemote.userInfo().then(function(res){
   			  $scope.userList = res.data.data.data;
   			  console.log($scope.userList);
   		  })
   	  }
    	 console.log();
  		 $scope.initUser();
  	     $scope.loadMobiscroll();
  	     $scope.isback();
     }]);
     
</script>
</head>
</head>
<body  ng-cloak ng-controller="MainController" ontouchstart style="background-color: #f8f8f8;">
 <div class="weui_cells_title">{{userName}}</div>
 <div class="weui_cells weui_cells_form">
 	<!--  <div class="weui_cell weui_cell_select weui_select_after">
            <div class="weui_cell_hd">
                <label for="" class="weui_label">员工</label>
            </div>
            <div class="weui_cell_bd weui_cell_primary">
                <select class="weui_select" id="select_userinfo" name="select2" ng-change="selectOne()"  ng-model="salary.seluserInfoId" ng-options=" userinfo.userInfoId as userinfo.userinfoName for userinfo in userList" >
                	  <option value="" style="font-size:20px;">--选择员工--</option>
                </select>
            </div>
        </div> -->
 	<div class="weui_cell">
              <div class="weui_cell_hd"><label for="" class="weui_label">月份</label></div>
              <div id="monthDiv" class="weui_cell_bd weui_cell_primary">
                 <!--  <input class="weui_input" style="width:100%;"  id="monthDate" type="month"  ng-model="salary.month" /> -->
                  <input type="text" class="weui_input" name="USER_AGE" id="monthDate" readonly placeholder="请填写月份" />
              </div>
     </div>
     <div class="weui_cell">
	         <div class="weui_cell_hd"><label class="weui_label">基本工资</label></div>
	         <div class="weui_cell_bd weui_cell_primary">
	             <input class="weui_input" type="number"  id="basicSalary"  pattern="[0-9]*"  ng-change="calculate()"   placeholder="请填写基本工资" ng-model="salary.basicSalary"/>
	         </div>
    </div>
    <div class="weui_cell">
	         <div class="weui_cell_hd"><label class="weui_label">岗位津贴</label></div>
	         <div class="weui_cell_bd weui_cell_primary">
	             <input class="weui_input" type="number" id="subsidy"  pattern="[0-9]*" ng-change="calculate()"   placeholder="请填写岗位津贴" ng-model="salary.subsidy"/>
	         </div>
    </div>
     <div class="weui_cell">
	         <div class="weui_cell_hd"><label class="weui_label">销售奖金</label></div>
	         <div class="weui_cell_bd weui_cell_primary">
	             <input class="weui_input" type="number"  id="bonus" pattern="[0-9]*"  ng-change="calculate()"   placeholder="请填写销售奖金" ng-model="salary.bonus"/>
	         </div>
    </div>
    <div class="weui_cell">
	         <div class="weui_cell_hd"><label class="weui_label">话费补贴</label></div>
	         <div class="weui_cell_bd weui_cell_primary">
	             <input class="weui_input" type="number" id="telcharge" pattern="[0-9]*"  ng-change="calculate()"  placeholder="请填写话费补贴" ng-model="salary.telcharge"/>
	         </div>
    </div>
    <div class="weui_cell">
	         <div class="weui_cell_hd"><label class="weui_label">社会保险</label></div>
	         <div class="weui_cell_bd weui_cell_primary">
	             <input class="weui_input" type="number" id="insurance"  pattern="[0-9]*"  ng-change="calculate()" placeholder="请填写社会保险" ng-model="salary.insurance"/>
	         </div>
    </div>
      <div class="weui_cell">
	         <div class="weui_cell_hd"><label class="weui_label">考勤浮动</label></div>
	         <div class="weui_cell_bd weui_cell_primary">
	             <input class="weui_input" type="number" id="_float"   ng-change="calculate()"  placeholder="请填写考勤浮动" ng-model="salary._float"/>
	         </div>
	          <div class="weui_cell_ft">
                    <a href="javascript:;" class="weui-vcode-btn" ng-click="salaryChecking()">考勤查看</a>
                </div>
    </div>
    <div class="weui_cell">
	         <div class="weui_cell_hd"><label class="weui_label">述职扣款</label></div>
	         <div class="weui_cell_bd weui_cell_primary">
	             <input class="weui_input" type="number" id="reportwithhold" pattern="[0-9]*" ng-change="calculate()" placeholder="请填写述职扣款" ng-model="salary.reportwithhold"/>
	         </div>
    </div>
     <div class="weui_cell">
	         <div class="weui_cell_bd weui_cell_primary">
	             <input class="weui_input" type="text"  id="reportwidthholdContent"  placeholder="请填写扣款说明" ng-model="salary.reportwidthholdContent"/>
	         </div>
    </div>
     <div class="weui_cell">
	         <div class="weui_cell_hd"><label class="weui_label">其他扣款</label></div>
	         <div class="weui_cell_bd weui_cell_primary">
	             <input class="weui_input" type="number" id="otherdeductions"  pattern="[0-9]*" ng-change="calculate()" placeholder="请填写其他扣款" ng-model="salary.otherdeductions"/>
	         </div>
    </div>
    <div class="weui_cell">
	         <div class="weui_cell_bd weui_cell_primary">
	             <input class="weui_input" type="text" id="otherwithholdcontent""   placeholder="请填写扣款说明" ng-model="salary.otherwithholdcontent"/>
	         </div>
    </div>
     <div class="weui_cell">
	         <div class="weui_cell_hd"><label class="weui_label">所得税</label></div>
	         <div class="weui_cell_bd weui_cell_primary">
	             <input class="weui_input"  type="number" id="incometax"   pattern="[0-9]*"  ng-change="calculate()"  placeholder="请填写所得税" ng-model="salary.incometax"/>
	         </div>
    </div>
     <div class="weui_cells_tips" style="text-align:right;">合计：{{allCount}}</div>
         
       <div class="weui_btn_area">
           <a class="weui_btn weui_btn_primary" href="javascript:" ng-click="save()" id="btn">确定</a>
       </div> 
 </div>
</body>
</html>